<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  配置数据源，交给Spring，在spring-dao.xml中  -->

    <typeAliases>
        <package name="com.cc.pojo"/>
    </typeAliases>


    <mappers>
        <mapper resource="com/cc/dao/BookMapper.xml"/>
    </mappers>

</configuration>